body{
    margin: 0;
}
header{
    background-color: #531f39;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}
/* 
section{
    background-color: aquamarine;
    margin: 0px 1000px 11px 100px;
    margin-right: 0%;
    margin-left: 60%;
    width: 800px;
    height: 800px;

} */

.container {
    display: flex; /* Flexbox verwenden */
    height: 20%;
    padding: 10px;
}

.left-column {
    flex: 1; /* Die linke Spalte nimmt den verfügbaren Platz ein */
    /* background-color: #f2f2f2; Hintergrundfarbe für die linke Spalte */
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Die rechte Spalte nimmt ebenfalls den verfügbaren Platz ein */
    background-color:rgb(220, 228, 228); /* Hintergrundfarbe für die rechte Spalte */
    height: 500px;
  
    
}

.upper{
    display: flex;
    flex: 1;
}

.lower{
    flex: 1;
    background-color: aqua;
}

.left-column1 {
    flex: 1; /* Die linke Spalte nimmt den verfügbaren Platz ein */
    /* background-color: #f2f2f2; Hintergrundfarbe für die linke Spalte */
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
}

.right-column1 {
    
    flex: 1; /* Die rechte Spalte nimmt ebenfalls den verfügbaren Platz ein */
    background-color:  rgb(75, 122, 122); /* Hintergrundfarbe für die rechte Spalte */
  
}

.inhalt_recht{
    padding: auto;
}

/* td{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1F2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
   

    border-radius: 18px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0); 
    box-shadow:  8px 8px 18px #c7c7c7,
             -8px -8px 18px #f9f9f9;

    margin: 3cm; 
 } */


 td{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;

    border-radius: 18px;
    background:#15a0af;
    box-shadow:  8px 8px 18px #c7c7c7,
             -8px -8px 18px #f9f9f9;
 }

 

 