body{
    margin: 0;
}
header{
    background-color: #531f39;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    border-radius: 26px;
    background: #7a54eb;
    box-shadow: inset -5px -5px 4px #31225e,
            inset 5px 5px 4px #c386ff;
}
/* 
section{
    background-color: aquamarine;
    margin: 0px 1000px 11px 100px;
    margin-right: 0%;
    margin-left: 60%;
    width: 800px;
    height: 800px;

} */

.container {
    display: flex; /* Flexbox verwenden */
    height: 20%;
    padding: 10px;
}

.left-column {
    flex: 1; /* Die linke Spalte nimmt den verfügbaren Platz ein */
    /* background-color: #f2f2f2; Hintergrundfarbe für die linke Spalte */
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Die rechte Spalte nimmt ebenfalls den verfügbaren Platz ein */
    /* background-color:rgb(220, 228, 228); Hintergrundfarbe für die rechte Spalte */
    height: 50%;
  
    
}

.upper{
    display: flex;
    flex: 1;
}

.lower{
    flex: 1;
    background-color: aqua;
    border-radius: 26px;
    /* background: #7a54eb; */
    box-shadow: inset -5px -5px 4px #31225e,
            inset 5px 5px 4px #c386ff;
}

.left-column1 {
    flex: 1; /* Die linke Spalte nimmt den verfügbaren Platz ein */
    /* background-color: #f2f2f2; Hintergrundfarbe für die linke Spalte */
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
}

.right-column1 {
    
    flex: 1; /* Die rechte Spalte nimmt ebenfalls den verfügbaren Platz ein */
    background-color:  rgb(75, 122, 122); /* Hintergrundfarbe für die rechte Spalte */
    border-radius: 26px;
  
}

.inhalt_recht{
    padding: auto;
}

 /* td{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;

    border-radius: 20px;
    background: #cfc5ed;
    box-shadow: inset -5px -5px 4px #31225e,
            inset 5px 5px 4px #c386ff;
 } */

 .left-column1 ::-webkit-scrollbar{
    height:10%; 
    z-index: 1; 
 }

 #questionstitle{
    height: 100px;
    z-index: 1; 
    position: fixed; 
     width: 24.7%;  
     /* background-color: #7a3d3d;  */
     border-radius: 26px;
     background: #7a54eb;
     box-shadow: inset -5px -5px 4px #31225e,
                 inset 5px 5px 4px #c386ff;

 }

 

 